*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:Helvetica;
}
nav {
    background-color:#F6F8F9 ;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
nav .Mainmenu {
    display: flex;
    list-style: none;
}
nav .Mainmenu li a {
    display: inline-block;
    padding:14px;
    text-decoration: none;
    text-transform: capitalize;
    color:#343638;
    font: size 14px;
}
nav .Mainmenu li a:hover {
    color:black;

}
nav .openmenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .Mainmenu .closemenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.logoo {
    color: #FA6980;
    font-size: 13px;
    cursor: pointer;
}

    .container {
    position: relative;
    display: flex;
    
  }
    .text-block {
    position: absolute;
    width: 100%;
    align-self: center;
    color: #FFFFFF;
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .text-h1 {
      margin-bottom:25px;
      font-size: 24px;
  }
  .text-h2 {
      margin-top: 50px;
      margin-bottom: 10px;
      font-size:24px;
  }
  .width-all-1 {
      width: 100%;
  }
  .text-p {
      width: 529px;
  }
  .text-block span {
      background:white;
      height:2px;
      width: 600px;
      position: absolute;
  }
  .button {
    margin-top:31px;
    border:none;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
    width:134px;
    height: 40px;
    color: white;
    background-color: #FA6980;
  }
  .full-block-1 {
    display: flex;
    max-width:1440px;
    width:100%;
    flex-wrap: wrap;
    
}
  .conteiner-2 {
   width: 600px;
   height: 600px;
   display: flex;
   flex-wrap: wrap;
   position: relative;

  }
  .conteiner-2 span {
    position: absolute;
    background:#A6ADB4;
    height:3px;
    width: 300px;
}
.conteiner-2-block {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    
}
.conteiner-2-title {
    margin-top: 100px;
    margin-left: 60px;
}
.h-simagle {
    margin-bottom: 40px;
}
.h-red {
    color: #FA6980;
    margin-top: 70px;
    margin-bottom: 20px;
}
.width-all {
    margin-top: 20px;
    margin-left: 60px;
    

}


/*მეორე სექცია */

.conteiner-s2 {
    max-width:1160px;
    width: 100%;
   
    margin:  0 auto;
}
.box-wraper {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    

}
.small-box{
    max-width: 360px;
    width: 100%;
   
    flex-wrap: wrap;
    margin-left: 20px;
}
.con2-h {
    color:#202124 ;
    margin-top:44px;
    margin-bottom:15px;
}
.conteiner-s2-h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.con2-h {
    padding: 5px;
}
.p-color {
    color: #A6ADB4;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*მესამე სექცია */


.conteiner-3 {
    display: flex;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    

}
.section-3-h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}
.conteiner-3-box-1{
    max-width: 766px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 40px;
}
.conteiner-3-box-2{
    width: 760px;
    height: 900px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.picture {
    width: 760px;
    height:432px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}
.h3-block {
    
    margin-top: 50px;
    margin-bottom: 20px;

}
/*ფუტერი */


.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
   
    
    
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin:0 auto;
}
.list{
    display: flex;
    justify-content: space-around;
    max-width: 378px;
    width: 100%;
    
}
.ul-list {
    display: flex;
    flex-direction:column;

        
}
