*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:Helvetica;
}
nav {
    background-color:#F6F8F9 ;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
nav .Mainmenu {
    display: flex;
    list-style: none;
}
nav .Mainmenu li a {
    display: inline-block;
    padding:14px;
    text-decoration: none;
    text-transform: capitalize;
    color:#343638;
    font: size 14px;
}
nav .Mainmenu li a:hover {
    color:black;

}
nav .openmenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .Mainmenu .closemenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.logoo {
    color: #FA6980;
    font-size: 13px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .Mainmenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        display: none;
        
    }
    nav .Mainmenu .closemenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openmenu {
        display: block;
    }
    nav .Mainmenu li a:hover {
        bottom: none;
        color: rgb(225, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
    .container {
    position: relative;
    display: flex;
  }
    .text-block {
    position: absolute;
    width: 100%;
    align-self: center;
    color: #FFFFFF;
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .text-h1 {
      margin-bottom:25px;
      font-size: 24px;
  }
  .text-h2 {
      margin-top: 50px;
      margin-bottom: 10px;
      font-size:24px;
  }
  .text-p {
      width: 529px;
  }
  .text-block span {
      background:white;
      height:2px;
      width: 600px;
      position: absolute;
  }
  .button {
    margin-top:31px;
    border:none;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
    width:134px;
    height: 40px;
    color: white;
    background-color: #FA6980;
  }
  .container-2 {
    display: flex;
    position: relative;
    margin: 0;
  }
  .full-block-1 {
      display: flex;
      
  }
  .container-2 span {
    position: absolute;
    background:#A6ADB4;
    height:2px;
    width: 400px;
}